<div class="container mt-4">
  <h1 class="mt-5">Error</h1>
  <p class="lead">This section demonstrates error tracking.</p>
  <button type="button" class="btn btn-primary" id="uncaught-error-btn">Trigger uncaught Error</button>
  <button type="button" class="btn btn-secondary" id="caught-error-btn">Trigger caught Error</button>
</div>